/* Universal */

html {
    font-size: 16px;
    font-family: 'Cardo', serif;
    background-color: rgba(211, 211, 211, 0.342);
}


h1, h2, h3, h4, h5, h6 {
    font-family: 'Oswald', sans-serif;
    font-weight: 400;
}

h1 {
    font-size: 3.25rem;    
}

h2 {
    font-size: 2.063rem;
    padding: 1.5rem 0;
}

h3 {
    font-size: 1.625rem;
    padding-bottom: 1.2rem;
}

h4 {
    font-size: 1.25rem;
    padding-bottom: 1rem;
}

h5 {
    font-size: 1rem;
    padding-bottom: .8rem;
}

h6 {
    font-size: .813rem;
    padding-bottom: .5rem;
}

.button {
    margin: 2rem;
    text-align: center;
}

.buttonA  {
    background-color: transparent;
    box-shadow: 1px 1px 5px black;
    border: #4F6367 2px solid;
    border-radius: 3px;
    font-family: 'Oswald', sans-serif;
    text-transform: uppercase;
    font-size: .95rem;
    padding: .5rem 1.25rem;
    color: #4F6367;
    margin: 3rem auto;
}

.buttonA:hover {
    background-color: #b8d8d8b6;
}

/* header */

header {
    display: grid;
    grid-template: 50px / repeat(12, 1fr);
    column-gap: .25rem;
    align-items: center;
    max-width: 1920px;
    margin: auto;
    background-color: #4F6367;
    color: whitesmoke;
    font-family: 'Oswald', sans-serif;
    font-weight: 300;
}

header a {
    color: rgb(245, 245, 245);
}

.logo {
    grid-area: 1 / 1 / 2 / 3;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-left: 3rem;
    text-transform: uppercase;
    letter-spacing: .1rem;
}

.logo img {
    padding-right: 1rem;
}

.nav {
    grid-area: 1 / 7 / 2 / 13;
    padding-right: 3rem;
    font-size: 1.1rem;
}

.nav ul {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav ul li a:hover {
    color: rgb(245, 245, 245, .5);
}

.hamburger div {
    display: none;
}

@media only screen and (max-width: 500px), (-webkit-device-pixel-ratio: 2) {

    .logo {
        grid-area: 1 / 1 / 2 / 7;
    }

    .hamburger {
        grid-area: 1 / 11 / 2 / 12;
    }

    .hamburger div {
        padding-top: .25rem;
        display: block;
        border-top: 3px white solid;
    }

    .nav {
        display: none;
    }
}
/* body */

main {
    max-width: 1920px;
    margin: auto;
    background-color: whitesmoke;
}

main p {
    padding-bottom: .6rem;
}

.container {
    display: grid;
    grid-template: repeat(21, 1fr) / repeat(12, 1fr);
    column-gap: .8rem;
    row-gap: 2rem;
    justify-content: center;
    align-items: center;
}

@media only screen and (max-width: 500px), (-webkit-device-pixel-ratio: 2) {
    .container {
        grid-template: repeat(16, 1fr) / repeat(12, 1fr);
    }
}

/* title section */

.title {
    grid-area: 2 / 2 / 4 / 6;
}

@media only screen and (max-width: 500px), (-webkit-device-pixel-ratio: 2) {
    .title {
        grid-area: 1 / 2 / 2 / 12;
        text-align: center;
    }
}

/* picture */

.picture {
    grid-area: 2 / 7 / 7 / 12;
    margin: auto;
}

.picture img {
    border-radius: 50%;
    width: 24rem;
    height: 24rem;
    object-fit: cover;
    object-position: 10% 0%;
    overflow: hidden;
    box-shadow: 5px 5px 5px gray;
}

@media only screen and (max-width: 500px), (-webkit-device-pixel-ratio: 2) {
    .picture {
        grid-area: 2 / 1 / 4 / 13;
    }
}

/* about me */

.about-me {
    grid-area: 4 / 2 / 7 / 7;
    align-self: flex-start;
}

.about-me .center {
    text-align: center;
    align-self: center;
    padding: 2rem 0;
    margin: auto;
}

@media only screen and (max-width: 500px), (-webkit-device-pixel-ratio: 2) {
    .about-me {
        grid-area: 4 / 2 / 6 / 12;
    }
}

/* skills */

.skills {
    grid-area: 7 / 2 / 9 / 12;
    align-self: flex-start;
}

.skills .icons {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    row-gap: 1rem;
    column-gap: 1.5rem;
}

.skills .icons img {
    max-width: 3.5rem;
}

.skills .icons .git img {
    max-width: 3.9rem;
}

@media only screen and (max-width: 500px), (-webkit-device-pixel-ratio: 2) {
    .skills {
        grid-area: 6 / 2 / 8 / 12;
    }
}

/* Projects */
.bg-lb {
    grid-area: 9 / 1 / 18 / 13;
    background-color: #7A9E9F;
    width: 100%;
    height: 100%;
}

.projects {
    grid-area: 9 / 2 / 18 / 12;
}

.projects h2 {
    color: white;
    text-shadow: 1px 1px 5px gray;
}

.projects .cards {
    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap;
    row-gap: 2rem;
    column-gap: 2rem;
    width: 100%;
}

.projects .cards .card {
    width: 31%;
    min-width: 14rem;
    height: 250px;
    background-color: whitesmoke;
    text-align: center;
    border-radius: 10px;
    box-shadow: 3px 3px 3px gray;
    display: grid;
    grid-template: repeat(3, 1fr) / repeat(1, 1fr);
}

.projects .cards .card p,
.projects .cards .card h3 {
    padding: 0 1rem;
}

.projects .cards .card h3 {
    align-self: center;
}

@media only screen and (max-width: 500px), (-webkit-device-pixel-ratio: 2) {
    .bg-lb {
        grid-area: 8 / 1 / 15 / 13;
        padding: 2rem 0;
    }

    .projects {
        grid-area: 8 / 2 / 15 / 12;
    }

    .projects .cards .card {
        width: 100%;
        height: 300px;
        grid-template: 70px 130px 50px / repeat(1, 1fr);
    }

}

/* contact */


.contact {
    grid-area: 18 / 2 / 20 / 12;
}

.company {
    display: flex;
}

@media only screen and (max-width: 500px), (-webkit-device-pixel-ratio: 2) {
    .contact {
        grid-area: 15 / 2 / 16 / 12;
    }
}

/* footer */

footer {
    display: grid;
    grid-template: 75px / repeat(12, 1fr);
    margin: auto;
    max-width: 1920px;
    justify-content: center;
    align-items: center;
    text-align: center;
    background-color: #4F6367;
    color: whitesmoke;
}

.copyright {
    grid-area: 1 / 10 / 2 / 12;
}

@media only screen and (max-width: 500px), (-webkit-device-pixel-ratio: 2) {
    .copyright {
        grid-area: 1 / 8 / 2 / 12
    }
}


/* temp formatting */

/* body * {
    border: blue 1px solid;
} */


/* 
COLORS

Light Blue
#B8D8D8

Medium Blue
#7A9E9F

Dark Blue
#4F6367

Light Green
#EEF5DB

Red
#FE5F55


*/