html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video, nav {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
  color: var(--light-main);
  text-decoration: none;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
  overflow-x: hidden !important;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

body {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

html, body {
  height: 100%;
  width: 100%;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

* {
  box-sizing: border-box;
}

/* ----------------- Global Values ----------------- */

:root {
  /* Root colors */

  --dark-darker: #191c22;
  --dark-dark: #262932;
  --dark-main: #323743;
  --dark-light: #5b5f69;
  --dark-lighter: #84878e;

  --light-black: #000000;
  --light-darker: #3e3f3e;
  --light-gray: #7d7e7d;
  --light-gray: #bbbcbb;
  --light-main: #f9fbf9;

  --red-darker: #781d1d;
  --red-dark: #b42c2b;
  --red-main: #f03a39;
  --red-light: #f36161;
  --red-lighter: #f68988;



}

/* ----------------- Colors ----------------- */

.primary-color {
  background-color: var(--dark-main);
}

.primary-color-2 {
  background-color: var(--dark-main);
}

.secondary-color * {
  color: var(--light-main);
}

.tri-color {
  background-color: var(--red-main) !important;
}

.four-color {
  color: var(--light-main) !important;
}


/* ----------------- Fonts ----------------- */

h1, h2, h3, h4, h5, h6 {
  font-family: "source-sans-pro", sans-serif;
  text-transform: uppercase;
    /* 
  FOR HEADERS
  italic and normal
  font-weight of 400 or 700
  */
}

h1, h3, h5 {
  font-weight: 400;
}

h2, h4, h6 {
  font-weight: 700;
}

h5, h6 {
  font-style: italic;
}

h1 {
  font-size: 3rem;
}

h2 {
  font-size: 2rem;
}

h3 {
  font-size: 1.5rem;
}

h4 {
  font-size: 1.4rem;
}

h5 {
  font-size: 1.2rem;
}

h6 {
  font-size: 1rem;
}

p {
  font-family: "quasimoda", sans-serif;
  font-weight: 300;
  font-size: 1rem;
  /*
  FOR PARAGRAPHS OR SUBHEADINGS
  italic and normal
  quasimoda
  300, 400, 500, 600, 700, 800
  quasimode-2
  100, 900
  */
}

a {
  text-decoration: none;
}


/* ----------------- Overall Website Structures ----------------- */

.main-background {
  /* background-image: url("./images/renato-pozzi-G4oGYy_ZcsQ-unsplash.jpg"); */
  width: 100vw;
  height: 100vh;
  position: fixed;
  z-index: -5;
  background-size: cover;
  background-position: bottom;
  background-color: var(--dark-main);
}

.checkbox-hidden {
  background: rgba(0, 0, 0, 0.5);
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  position: fixed;
  z-index: 3;
}

.container {
  margin: auto;
  width: 90%;
  max-width: 1100px;
  display: grid;
}

.nav-bottom-container {
  max-width: 1280px !important;
}

/* ----------------- Grid ----------------- */

.column-one, 
.column-two-even, 
.column-two-left-third, 
.column-two-left-forth, 
.column-two-right-third, 
.column-two-right-forth, 
.column-three-even, 
.column-four-even 
{
  display: grid;
  /* border: 1px solid green; */
  padding: 3rem 0;
  width: 100%;
}

.column-two-even {
  grid-template-columns: repeat(2, 1fr);
}


.column-two-even > div:first-child, 
.column-two-left-third > div:first-child,
.column-two-left-forth > div:first-child,
.column-three-even > div:first-child,
.column-two-right-third > div:first-child,
.column-two-right-forth > div:first-child,
.column-four-even > div:first-child
{
  grid-column-start: 1;
  grid-column-end: 6;
  /* border: 1px solid purple; */
  justify-self: center;
  text-align: center;
  min-width: 100%;
}

.column-two-even > div:last-child, 
.column-two-left-third > div:last-child,
.column-two-left-forth > div:last-child,
.column-three-even > div:last-child,
.column-two-right-third > div:last-child,
.column-two-right-forth > div:last-child,
.column-four-even > div:last-child 
{
  grid-column-start: 1;
  grid-column-end: 6;
  justify-self: center;
  text-align: center;
    /* border: 1px solid purple; */
}

.column-two-left-third {
  grid-template-columns: 2fr 1fr;
}

.column-two-left-forth {
  grid-template-columns: 3fr 1fr;
}

.column-two-right-third {
  grid-template-columns: 1fr 2fr;
}

.column-two-right-forth {
  grid-template-columns: 1fr 3fr;
}

.column-three-even {
  grid-template-columns: repeat(3, 1fr);
}

.column-four-even {
  grid-template-columns: repeat(4, 1fr);
}

/* ----------------- Timeline ----------------- */
.timeline-container {
  height: 100%;
  width: 100%;
}

.timeline-element
{
  color: var(--light-main);
}

.timeline-element * {
  color: var(--dark-main)
}

.highlight-word {
  color: var(--red-main);
  font-weight: 700;
}

.highlight-container {
  position: relative;
  max-width: fit-content;
}

.highlight::before {
  content: "";
  position: absolute;
  background-color: var(--red-main);
  top: 1rem;
  left: -.25rem;
  width: 105%;
  height: 60%;
  z-index: -1;
  opacity: .8;
}

/* ----------------- gsap ----------------- */

.container { 
  overflow-x: hidden !important;
  overflow-y: hidden !important;

}


/* ----------------- Charts ----------------- */

.test-chart:hover {
  border: 0;
}

.tooltip-custom {
  padding: .5rem;
  background: rgba(182, 182, 182, 0.608);
  border-radius: 4px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.25);
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px);
  border: 1px solid rgba(255, 255, 255, 0.3) !important;
  max-width: 300px;
  min-width: 150px;
  color: var(--light-main) !important;
}

.tooltip-label {
  font-size: 1.2rem;
  font-family: "source-sans-pro", sans-serif;
  font-weight: 700;
}

.tooltip-intro {
  font-family: "quasimoda", sans-serif;
}

.tooltip-label, .tooltip-intro {
  color: var(--white);
}

.recharts-tooltip-wrapper {
  max-width: 50%;
  color: var(--light-main);
}


/* ----------------- Background Images ----------------- */
.background-img-1 {
  background-color: white;
  background-size: cover;
  overflow: hidden;
  background-position: bottom;
  max-width: 100%;
  max-height: 100%;
  height: 250px;
}

.background-img-1 h1 {
  align-self: flex-end;
  justify-self: center;
}

.background-img-1 p {
  justify-self: center;
}

/* ----------------- Images ----------------- */

.potrait {
  position: relative;
  margin: 24px;
}


.potrait img {
  box-shadow:
  0 0 0 10px var(--dark-dark);
  padding: 15px;
}

.potrait .image::before {
  content: "";
  position: absolute;
  /* display: block; */
  top: 15%;
  left: -12.5%;
  right: 0;
  bottom: 0;
  width: 125%;
  height: 70%;
  background-color: var(--red-dark);
  opacity: .8;
  /* background: transparent; */
}


/* ----------------- Navigation ----------------- */

.navigation {
  margin: auto;
  z-index: 5;
  display: flex;
  justify-content: space-between;
  align-items: center;  
  width: 90%;
  max-width: 1280px;
  padding: 1rem 0;
  background-color: var(--dark-main);
}

.navigation * {
  color: var(--light-main) !important;
}

.nav-gb {
  position: absolute;
  width: 100%;
  height:100%;

}

.nav-item nav {
  display: flex;
  justify-content: space-between;
  list-style: none;
  gap: 2rem;
  align-items: flex-start;
}

.nav-item {
  /* border: 1px solid pink; */
  margin: 0;
  padding: 0;
  
}

.nav-item * {
  margin: 0;
  padding: 0;
  /* border: 1px solid pink; */
}

.menu-item {
  display: inline-block;
  position: relative;
  padding-bottom: 3px;
  margin-right: 10px;
}
.menu-item:last-child {
  margin-right: 0;
}

.menu-item:after {
  content: '';
  display: block;
  margin: auto;
  height: 1.5px;
  width: 0px;
  background: transparent;
  transition: width .25s ease, background-color .25s ease-in-out;
}
.menu-item:hover:after {
  width: 100%;
  background: var(--red-main);
}

.nav-mobile {
  display: none;
}

.nav-bottom-container {
  width: 100%;
}

.nav-bottom {
  display: flex;
  align-items: flex-end;
}

.nav-bottom-menu nav {
  display: flex;
  flex-direction: column;
}

.nav-bottom-menu nav * {
  padding: .2rem 0;
  transition: padding 100ms ease-in-out;
}

.nav-bottom-menu nav *:hover {
  padding-left: .1rem;
}


/* ----------------- Buttons ----------------- */
.button-container {
  display: flex;
  justify-content: flex-start;
}

.button-container p {
  max-width: max-content;
  white-space: nowrap;
}

.button {
  color: white;
  max-width: max-content;
  transition: background-color 200ms ease-in-out;
  padding: 1rem 2rem;
}

.button:hover {
  cursor: pointer;
}

.button-a {
  background-color: var(--red-main);
  font-weight: 900;
}

.button-a:hover {
  background-color: var(--red-dark);
}

.button-b {
  box-shadow: inset 0 0 0 1px var(--red-main);
  -webkit-box-shadow: inset 0 0 0 1px var(--red-main);
  -moz-box-shadow: inset 0 0 0 1px var(--red-main);
}

.button-b:hover {
  background-color: var(--red-main);
}

.buttons {
  display: flex;
}

.buttons div:first-child {
  margin-right: 1rem;
}

/* ----------------- Alignment ----------------- */
.section-container {
  display: flex;
  justify-content: center;
  align-items: center;
}
.center-left {
  display: flex;
  flex-direction: column;
}

.center-left > * {
  /* border: 1px solid var(--dark-lighter); */
  max-width: 450px;
  padding: .5rem;
  /* NEED TO DO PADDING FOR TEXT AT TOP LEVEL */
}


/* ----------------- Mobile Size ----------------- */
/* ----------------- Mobile Size ----------------- */
/* ----------------- Mobile Size ----------------- */

@media only screen and (max-width: 1170px) {
  .vertical-timeline-element-date {
    color: var(--dark-main);
  }
}


@media only screen and (max-width: 700px) {

  /* ----------------- Mobile Size - Overall Website Structure ----------------- */
  .vertical-timeline--animate {
    transition: none !important;
    animation: none !important;
  }

  .container {
    width: 100%;
    padding: 1rem;
  }

  .column-one, 
  .column-two-even, 
  .column-two-left-third, 
  .column-two-left-forth, 
  .column-two-right-third, 
  .column-two-right-forth, 
  .column-three-even, 
  .column-four-even {
    grid-template-columns: 1fr;
  }

  .column-two-even div, 
  .column-two-left-third div, 
  .column-two-left-forth div, 
  .column-two-right-third div, 
  .column-two-right-forth div, 
  .column-three-even div, 
  .column-four-even div 
  {
    grid-column: span 3;
  }

  .column-two-even div:nth-child(2) {
    grid-row: 3;
  }

  .nav-bottom {
    height: 4rem;
  }

  .navigation > :first-child {
    padding-left: 1rem;
  }

  .nav-bottom-container .bg-height-17 {
    height: 26rem;
  }

  .nav-bottom-container {
    padding: 1rem !important;
  }


  /* ----------------- Mobile Size - Navigation ----------------- */
  /* Maybe move this to a module? -> Make things less cultered */

  .navigation {
    width: 100%;
  }

  .nav-desktop, .nav-button {
    display: none;
  }

  .nav-item nav {
    gap: 0;
    align-items: center;
  }

  .nav-item nav a {
    display: flex;
    align-items: center;
    padding-left: .5rem;
  }

  .nav-mobile {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    color: pink;
  }

  .nav-mobile nav {
    display: flex;
    flex-direction: column;
  }

  /*  */

  .nav-mobile nav {
    align-items: flex-start;
  }



  .toggler{
  /* ALWAYS KEEPING THE TOGGLER OR THE CHECKBOX ON TOP OF EVERYTHING :  */
    z-index: 8;
    height: 50px;
    width: 60px;
    position: absolute;
    top: 0;
    right: 0;
    cursor: pointer;
    opacity: 0;
  }

  .hamburger{
    position: absolute;
    top: 0;
    right: 0;
    height: 49px;
    width: 55px;
    padding: 0.6rem;
    z-index: 7;

  /* FOR DISPLAYING EVERY ELEMENT IN THE CENTER : */

    display: flex;
    align-items: center;
    justify-content: center;
  }

  /* CREATING THE MIDDLE LINE OF THE HAMBURGER : */

  .hamburger > div{
    position: relative;
    margin: 0;
    padding: 0;
    text-align: left;
    top: 0;
    left: 0;
    background: var(--light-main);
    height: 1.7px;
    width: 60%;
    transition: all  0.4s ease;
  }

  /* CREATING THE TOP AND BOTTOM LINES : 
  TOP AT -10PX ABOVE THE MIDDLE ONE AND BOTTOM ONE IS 10PX BELOW THE MIDDLE: */

  .hamburger > div::before,
  .hamburger > div::after{
    content: '';
    position: absolute;
    top: -10px;
    background: var(--light-main);
    width: 100%;
    height: 1.5px;
    transition: all  0.4s ease;
  }

  .hamburger > div::after{
    top: 10px;
  }

  /* IF THE TOGGLER IS IN ITS CHECKED STATE, THEN SETTING THE BACKGROUND OF THE MIDDLE LAYER TO COMPLETE BLACK AND OPAQUE :  */

  .toggler:checked + .hamburger > div{
    background: rgba(0,0,0,0);
  }

  .toggler:checked ~ .background {
    display: block;
  }

  .toggler:checked + .hamburger > div::before{
    top: 0;
    transform: rotate(45deg);
    background: var(--light-main);
  }

  /* AND ROTATING THE TOP AND BOTTOM LINES :  */

  .toggler:checked + .hamburger > div::after {
    top: 0;
    transform: rotate(135deg);
    background: var(--light-main);
  }


  /* MAIN MENU WITH THE WHITE BACKGROUND AND THE TEXT :  */

  .menu{
    position: absolute;
    z-index: 6;
    background: var(--dark-main);
    width: 0%;
    right: 0;
    top: 0;
    /* border-left: 1px solid gray; */
  /* APPLYING TRANSITION TO THE MENU :  */
    transition: all 0.4s ease;
  }

  /* IF THE TOGGLER IS CHECKED, THEN INCREASE THE WIDTH OF THE MENU TO 30% , CREATING A SMOOTH EFFECT :  */

  .toggler:checked ~ .menu{
    width: 40%;
  }

  /* STYLING THE LIST :  */

  .menu-container {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-color: var(--dark-main);
  }

  .menu > div > nav,
  .menu > div .button
  {
    display: flex;
    flex-direction: column;
    top: 0px;
    z-index: 2;
  /* HIDDEN INITIALLY  :  */
    visibility: hidden;
  }

  .menu-container {
    overflow: hidden;
  }
  .breakout {
    visibility: hidden;
  }

  .menu > div > nav {
    list-style: none;
  }

  /* Fix this reference */
  /* .menu > div > nav > a {
    color: none;
    text-decoration: none;
    font-size: 1rem;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    padding: 1rem; 
    margin-right: 2rem;
    width: 100%;
    text-align: left;
    z-index: 2;
  } */ 

  /* WHEN THE TOGGLER IS CHECKED, CHANGE THE VISIBILITY TO VISIBLE :  */

  .toggler:checked ~ .menu > div > nav, 
  .toggler:checked ~ .menu > div .button 
  {
    transition: visibility 0.4s ease;
    transition-delay: 0.1s;
    visibility: visible;
  }

  .toggler:checked ~ .menu > div .button {
    z-index: 1000;
  }


  .toggler:checked ~ .menu .menu-container {
    overflow: visible;
  }


  .toggler:checked ~ .menu > div > nav > a { 
    border-left: 4px solid var(--dark-main);
    width: 100%;
    min-height: 3rem;
    background-color: var(--dark-main);
  }

  .toggler:checked ~ .menu > div > nav > a:hover{
    border-left: 4px solid var(--red-main);
    background: var(--dark-light);
  }


  .toggler:checked ~ .menu > div > .breakout {
    position: fixed;
    background-color: var(--light-main);
    opacity: .4;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    visibility: inherit;
    /* z-index: -1; */
  }


  /* ----------------- Mobile Size | Buttons ----------------- */
  .navigation .button-container {
    display: block;
  }

  .button-container p {
    width: 100%;
    max-width: 100%;
    white-space: nowrap;
  }

  .cover .button-container:nth-child(2) {
    display: none;
  }

  .navigation .button {
    max-width: 100%;
    padding-left: 1rem;
  }
  
  /* ----------------- Images ----------------- */

  .potrait {
    margin: 5rem;
  }

}
